
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/Site.css" />
    <meta name="viewport" content="width=device-width" />
    <title>FormError</title>
</head>
<body>
    <div class="has-error"> 
        Ошибка заполнения формы(поля заполнены не правильно).
    </div>
</body>
</html>
