
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/Site.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Auth</title>
</head>
<body>
    <div class="top regBox">
        <div class="topPart">
            @using (Html.BeginForm("Authorize", "Auth", FormMethod.Post))
            {
                <div class="field">
                    <label>E-mail</label>
                    @Html.TextBox("Mail");
                    <label>Пароль</label>
                    @Html.Password("Pass");
                </div>
                <div class="smBtn">
                    <input type="submit" value="Вход" />
                </div>
            }
        </div>
    </div>
</body>
</html>
